<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/vendor/fontawesome/css/fontawesome.min.css}" rel="stylesheet">
    <link th:href="@{/vendor/animsition/css/animsition.min.css}" rel="stylesheet">
    <link th:href="@{/vendor/select2/select2.min.css}" rel="stylesheet">
    <link th:href="@{/vendor/MagnificPopup/magnific-popup.css}" rel="stylesheet">
    <link th:href="@{/vendor/perfect-scrollbar/perfect-scrollbar.css}" rel="stylesheet">
    <link th:href="@{/css/util.css}" rel="stylesheet">
    <link th:href="@{/css/main.css}" rel="stylesheet">
    <title>Footer</title>
</head>
<body>
<footer th:fragment="footer">

    <!-- Footer -->
    <footer class="bg3 p-t-75 p-b-32">
        <div class="container">
            <div class="row-footer">
                <div class="col-sm-6 col-lg-3 p-b-50">
                    <ul class="footer-ul">
                        <li class="p-b-10">
                            <a th:href="@{/clothing-categories/women}" class="stext-107 cl7 hov-cl1 trans-04">
                                Women
                            </a>
                        </li>

                        <li class="p-b-10">
                            <a th:href="@{/clothing-categories/men}" class="stext-107 cl7 hov-cl1 trans-04">
                                Men
                            </a>
                        </li>

                        <li class="p-b-10">
                            <a th:href="@{/clothing-categories/shoes}" class="stext-107 cl7 hov-cl1 trans-04">
                                Shoes
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="row-footer-about-us">

                    <ul>
                        <li class="p-b-10">
                            <a th:href="@{/about}" class="stext-107 cl7 hov-cl1 trans-04">
                                About
                            </a>
                        </li>
                        <li class="p-b-10">
                            <a th:href="@{/help}" class="stext-107 cl7 hov-cl1 trans-04">
                                FAQ
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="p-t-40">

                <p class="stext-107 cl6 txt-center">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                    All rights reserved | Made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a
                        href="https://colorlib.com" target="_blank">Colorlib</a> &amp; distributed by <a
                        href="https://themewagon.com" target="_blank">ThemeWagon</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

                </p>
            </div>
        </div>
    </footer>

</footer>
</body>
</html>
