<!DOCTYPE html>
<html lang="en"
        xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="mobileMenu">
    <ul class="topbar-mobile">

        <li>
            <div class="right-top-bar flex-w h-full">
                <a th:href="@{/help}" class="flex-c-m p-lr-10 trans-04">Help & FAQs</a>
                <a th:href="@{/users/acc-login}" class="flex-c-m trans-04 p-lr-25">My Account</a>
                <a th:href="@{/language}" class="flex-c-m p-lr-10 trans-04">EN</a>
                <a th:href="@{/currency}" class="flex-c-m p-lr-10 trans-04">USD</a>
            </div>
        </li>
    </ul>
    <ul class="main-menu-m">
        <li>
            <a th:href="@{/}">Home</a>
            <ul class="sub-menu-m">
                <li><a th:href="@{/}">Home</a></li>
            </ul>
            <span class="arrow-main-menu-m"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
        </li>
        <li><a th:href="@{/product}">Shop</a></li>
        <li><a th:href="@{/shopping-cart}" class="label1 rs1" data-label1="hot">Features</a></li>
        <li><a th:href="@{/blog}">Blog</a></li>
        <li><a th:href="@{/about}">About</a></li>
        <li><a th:href="@{/contact}">Contact</a></li>
    </ul>
</div>
</body>
</html>
