

.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.remove-item-btn {
    display: block;
    width: 40px;
    height: 40px;
    position: relative;
    overflow: hidden;
}

.remove-item-btn > div {
    position: relative;
}

.remove-item-btn-block {
    width: 40px;
    height: 20px;
    position: relative;
    overflow: hidden;
}

.remove-item-btn-block:before,
.remove-item-btn-block:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: calc(55% - 4px);
    display: block;
    width: 4px;
    height: 25px;
    transform-origin: bottom center;
    background: white;
    transition: all ease-out 280ms;
}

.remove-item-btn-block:last-of-type {
    transform: rotate(180deg);
}

.remove-item-btn.in .close-button-block:before {
    transition-delay: 280ms;
    transform: translateX(20px) translateY(-20px) rotate(45deg);
}

.remove-item-btn .in .close-button-block:after {
    transition-delay: 280ms;
    transform: translateX(-22px) translateY(-22px) rotate(-45deg);
}

.remove-item-btn .out {
    position: absolute;
    top: 0;
    left: 0;
}

.remove-item-btn .out .close-button-block:before {
    transform: translateX(-5px) translateY(5px) rotate(45deg);
}

.remove-item-btn .out .close-button-block:after {
    transform: translateX(5px) translateY(5px) rotate(-45deg);
}

.remove-item-btn:hover .in .close-button-block:before {
    transform: translateX(-5px) translateY(5px) rotate(45deg);
}

.remove-item-btn:hover .in .close-button-block:after {
    transform: translateX(5px) translateY(5px) rotate(-45deg);
}

.remove-item-btn:hover .out .close-button-block:before {
    transform: translateX(-20px) translateY(20px) rotate(45deg);
}

.remove-item-btn:hover .out .close-button-block:after {
    transform: translateX(20px) translateY(20px) rotate(-45deg);
}
