.my-dropdown {
    position: relative;
    display: inline-block;
    text-align: -webkit-right;
}

.dropdown2:hover .dropdown2-content {
    display: block;
}

.dropdown2-content a {
    color: black;
    padding: 10px 16px;
    display: block;
    text-decoration: none;
}

.dropdown2-content a:hover {
    background-color: #f1f1f1;
}

.dropdown2:hover .dropdown2-content {
    display: block;
}
