.ihQzRQEX42Vnqnj63 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    align-items: center;
    background: #FFFFFF;
    max-width: 1200%;
    margin: 0 auto;
    padding: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Subtle shadow for visual clarity */


}

/* Slider Container */

.slider-container {
    /* margin: 0 20px; */
    /* top: 0; */
    /* position: absolute; */
    display: contents;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 20px;
    width: 100%;
    position: relative;
    max-width: 1200%;
    margin: 0 auto;
    overflow: hidden;

}

/* Slider Wrapper */
.slider {
    display: flex;
    flex-direction: row;
    transition: transform 0.3s ease-in-out;
    gap: 15px;
    margin: 0 auto;

    /*width: 100%;*/
    /*transform: translateX(0);*/
    /*align-items: center;*/
    /*align-self: stretch;*/
    /*box-sizing: content-box;*/


    /*max-width: 100%;*/

    /*height: inherit;*/
}

/* Individual Slide */
.slide {
    flex: 0 0 auto; /* Ensures slides don't shrink and take full width */
    width: 595%;
    height: 808px;
    margin-right: 0; /* Spacing between slides */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: transform 0.3s ease-in-out;
    box-sizing: border-box;
    overflow: hidden;
}

/* Slide Images */
.slide img {
    max-width: 100%;
    height: auto; /* Maintain aspect ratio */
    object-fit: cover;
    border: none;
    box-sizing: border-box;
}

/* Navigation Buttons */
.slider-button {
    font-family: "Montserrat", sans-serif;
    position: absolute;
    top: 50px;
    transform: translateY(-50%);
    background-color: transparent;
    border-radius: 50px;
    border: 2px solid rgba(255, 255, 255, 0.7); /* Бял цвят с 70% прозрачност */
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.slider-button.prev {
    left: 10px;
}

.slider-button.next {
    right: 10px;
}

.slide-button, .slide-button-accessories {
    position: absolute;
    letter-spacing: 0.2rem;
    bottom: 20rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: transparent;
    border: 2px solid white;
    color: #fff;
    border-radius: 50px;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 5px 7px rgba(0, 0, 0, 0.24);
    transition: box-shadow 0.3s ease, transform 0.2s ease;
}


.slide-button:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
}

/* Hover effect for buttons */
.slide button:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Deeper shadow */
    transform: translateX(-50%) scale(1.05); /* Slight zoom effect */
}

@media (max-width: 575px) {
    .slide {
        width: calc(100%); /* Show one slide fully on very small screens */
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .slide {
        width: calc(100% / 1.2); /* Show almost one full slide with part of the second visible */
    }
}

@media screen and (min-width: 750px) {
    .call-out-tiles__list {
        gap: 20px;
        grid-auto-columns: 1fr;
        grid-auto-flow: column;
    }

    @media (min-width: 768px) and (max-width: 923px) {
        .slide {
            width: calc(100% / 2); /* Show two slides side by side */
        }
    }

    @media (min-width: 923px) {
        .slide {
            width: calc(100% / 3); /* Show three slides side by side */
        }
    }

    @media (min-width: 1024px) {
        .slide {
            width: calc(100% / 3); /* Show three slides side by side */
        }
    }
}

/*@media (min-width: 1440px) {*/
/*    .slide {*/
/*        width: calc(100% / 4); !* Show four slides side by side *!*/
/*    }*/
/*}*/

