body {
    font-family: -webkit-body, serif;

    margin-top: 20px;
    color: #1a202c;
    text-align: left;
    background-color: #e2e8f0;
}

.main-body {
    padding: 15px;
}

.card {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1), 0 1px 2px 0 rgba(0, 0, 0, .06);
}
.update-profile{

}/* 🔹 Кутия за профила */
.wrapper-user {
    max-width: 350px;
    margin: auto;
    background: #f8f9fa;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* 🔹 Намаляване на input полето */
.username-profile input {
    width: 100%;
    padding: 8px;
    font-size: 14px;
}

.update-button, .cancel-button, .delete-button {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    margin-top: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}



.update-button:hover, .cancel-button:hover, .delete-button:hover {
    opacity: 0.9;
}


.update-button{
    background: black;
    color: white;
    padding: 18px 40px; /* Увеличаваме размера */
    border-radius: 30px;
    font-size: 18px;
    cursor: pointer;
    width: 100%; /* Или 300px, ако искаш точен размер */
    text-align: center;
}
.change-password-button{
    background: black;
    color: white;
    padding: 18px 40px; /* Увеличаваме размера */
    border-radius: 30px;
    font-size: 18px;
    cursor: pointer;
    width: 100%; /* Или 300px, ако искаш точен размер */
    text-align: center;
}
.delete-button {
    background: black;
    color: white;
    padding: 18px 40px; /* Увеличаваме размера */
    border-radius: 30px;
    font-size: 18px;
    cursor: pointer;
    width: 100%; /* Или 300px, ако искаш точен размер */
    text-align: center;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

.gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}

.gutters-sm > .col, .gutters-sm > [class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
}

.mb-3, .my-3 {
    margin-bottom: 1rem !important;
}

.bg-gray-300 {
    background-color: #e2e8f0;
}

.h-100 {
    height: 100% !important;
}

.shadow-none {
    box-shadow: none !important;
}