.section-slide {
    position: relative;
    z-index: 1;
}

.item-slick1 {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.background-video {
    padding: 20px 0;
    position: absolute;
    width: 100%;
    height: 100%;
    /*max-width: 1920px;*/
    object-fit: cover;
    display: block;
    margin: auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

@media (max-width: 1366px) {
    .background-video {
        max-height: 700px;
    }
}

@media (max-width: 1024px) {
    .background-video {
        max-height: 600px;
    }
}

@media (max-width: 768px) {
    .background-video {
        max-height: 500px;
    }
}

@media (max-width: 480px) {
    .background-video {
        max-height: 400px;
    }
}


/*@media (min-width: 1920px) {*/
/*    .background-video {*/
/*        width: 1903px;*/
/*        height: 993.53px;*/
/*    }*/
/*}*/

/*@media (max-width: 1920px) and (min-width: 1366px) {*/
/*    .background-video {*/
/*        width: 1349px;*/
/*        height: 765.17px;*/
/*    }*/
/*}*/

/*@media (max-width: 1366px) {*/
/*    .background-video {*/
/*        width: 100%;*/
/*        height: auto;*/
/*    }*/
/*}*/

/* Ако искаш overlay текст */
.overlay-content {
    position: absolute;
    bottom: 150px;
    left: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    z-index: 1;
    padding: 20px;
    box-sizing: border-box;
}

.overlay1 {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    color: white;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
/ z-index: 10;
}

.overlay1 p {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 800;
    /*font-family: Helvetica, Arial, sans-serif;*/
    font-family: 'Gambetta', serif;
    letter-spacing: -3px;
    transition: 700ms ease;
    font-variation-settings: "wght" 311;
    margin-bottom: 0.2rem;
    color: PaleGoldenRod;
    outline: none;
    text-align: center;
}

p:hover {
    font-variation-settings: "wght" 582;
    letter-spacing: 1px;
}