<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log-in</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/util.css}" rel="stylesheet">
    <link th:href="@{/css/main.css}" rel="stylesheet">
    <link th:href="@{/css/login.css}" rel="stylesheet">
</head>
<body>
<!--<header th:replace="fragments/header ::header"></header>-->

<section class="vh-100">
    <div class="login-container">
        <div id="errorMessage" style="color: red; display: none;"></div>

        <p class="login-text text-center">Sign In</p>

        <div class="form-outline mb-4">
            <input type="text" id="email" name="email" class="form-control form-control-lg" placeholder="Email"
                   required/>
            <label class="form-label" for="email">Email</label>
        </div>

        <div class="form-outline mb-4">
            <input id="password" name="password" type="password" class="form-control form-control-lg"
                   placeholder="Password" required/>
            <label class="form-label" for="password">Password</label>
        </div>

        <a th:href="@{/users/account-registration}" class="register-link">
            Don't have an account yet?
        </a>
        <button id="loginBtn" type="button" class="btn btn-custom">Log In</button>


    </div>
</section>

<script th:src="@{/vendor/jquery/jquery-3.2.1.min.js}"></script>
<script th:src="@{/webjars/jquery/3.7.1/jquery.min.js}"></script>

<th:block th:replace="~{fragments/footer :: footer}"></th:block>

<script>
    $(document).ready(function () {
        $('#loginBtn').click(function () {
            console.log("Login button clicked");

            // Fetch email and password values
            const email = $('#email').val();
            const password = $('#password').val();

            // Validate inputs
            if (!email || !password) {
                alert("Email and password are required!");
                return;
            }

            $.ajax({
                url: 'http://localhost:8081/api/v1/auth/login/user',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({email, password}),
                success: function (response) {
                    console.log(response.message);

                    document.cookie = `jwt=${response.data.token}; path=/; SameSite=Strict`;
                    window.location.href = '/index';
                },
                error: function (error) {
                    if (error.responseJSON && error.responseJSON.message) {
                        $('#errorMessage').text(error.responseJSON.message).show();
                    } else {
                        // If no message from the server, show a generic message
                        $('#errorMessage').text("An error occurred. Please try again.").show();
                    }
                },
                complete: function () {
                    $('#loginBtn').prop('disabled', false).text('Login');


                }
            });
        });
    });
</script>
</body>
</html>
